* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 1.3rem;
}

li {
  font-family: 'Jost', sans-serif;
}

nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 6vh;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem 2rem 0 1rem;
}

nav .burger i {
  font-size: 1.4rem;
  color: #252525;
}

nav .navlinks {
  display: none;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.8;
  letter-spacing: 0.10rem;
}

nav .navlinks a {
  color: #0c0c0c;
  text-decoration: none;
}

nav img {
  width: 35vw;
}

.Page .Hero {
  overflow: hidden;
  position: relative;
  margin-top: 9vh;
  height: 20vh;
  width: 100vw;
}

.Page .Hero .lifestyleHero, .Page .Hero .recipesHero {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -55px;
     object-position: 0px -55px;
}

.Page .Hero .fashionHero {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -120px;
     object-position: 0px -120px;
}

.Page .Hero h2 {
  position: absolute;
  top: 35%;
  left: 7%;
  color: white;
  letter-spacing: 0.12rem;
}

.Page .posts {
  margin: 0% 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Page .posts .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7%;
  width: 100%;
  position: relative;
  background-color: #c1bcb823;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 10px rgba(90, 90, 90, 0.151);
          box-shadow: 2px 2px 10px rgba(90, 90, 90, 0.151);
}

.Page .posts .post img {
  height: 28vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.Page .posts .post .postContent {
  padding: 0 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Page .posts .post .postContent h2 {
  font-size: 17px;
}

.Page .posts .post .postContent button {
  background-color: #6D3C2E;
  color: white;
  border: none;
  padding: 0.4rem;
  margin-top: 0.5rem;
  font-size: 0.6rem;
  outline: none;
  cursor: pointer;
}

.wave {
  width: 110%;
  height: 70px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  height: 15vh;
}

footer .vj {
  width: 50px;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.7rem;
}

footer .links ul li {
  font-size: 0.85rem;
  margin-right: 1rem;
  opacity: 0.7;
}

@media (min-width: 600px) {
  nav {
    height: 8vh;
  }
  nav img {
    width: 30vw;
  }
  .Page .Hero {
    height: 25vh;
    width: 100vw;
  }
  .Page .Hero .lifestyleHero, .Page .Hero .recipesHero {
    -o-object-position: 0px -150px;
       object-position: 0px -150px;
  }
  .Page .Hero .fashionHero {
    -o-object-position: 0px -180px;
       object-position: 0px -180px;
  }
  .Page .Hero h2 {
    font-size: 2rem;
    letter-spacing: 0.14rem;
  }
  .Page .posts {
    margin: 0 13%;
  }
  .wave {
    height: 90px;
  }
}

@media (min-width: 700px) {
  footer .vj {
    width: 50px;
  }
  footer .links {
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .links ul {
    width: 100%;
    margin-top: 0;
  }
  footer .links ul li {
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }
  footer .links .socials {
    margin-left: 2rem;
    width: 50%;
  }
}

@media (min-width: 900px) {
  nav {
    height: 8vh;
    padding: 1rem 4rem 0 1rem;
  }
  nav img {
    width: 20vw;
  }
  .Page .Hero .fashionHero {
    -o-object-position: 0px -250px;
       object-position: 0px -250px;
  }
  footer .links {
    width: 50%;
  }
}

@media (min-width: 1020px) {
  nav {
    height: 10vh;
  }
  nav .navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 53%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .burger {
    display: none;
  }
  nav img {
    width: 20vw;
  }
  .Page .Hero {
    margin-top: 12vh;
  }
  .Page .Hero .lifestyleHero, .Page .Hero .recipesHero {
    -o-object-position: 0px -200px;
       object-position: 0px -200px;
  }
  .Page .Hero .fashionHero {
    -o-object-position: 0px -270px;
       object-position: 0px -270px;
  }
  .Page .Hero h2 {
    font-size: 2.1rem;
    letter-spacing: 0.14rem;
  }
  .Page .posts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 10%;
  }
  .Page .posts .post {
    width: 38vw;
    margin-top: 8vh;
  }
}

@media (min-width: 1200px) {
  nav {
    padding: 1rem 8rem 0 1rem;
  }
  nav .navlinks {
    width: 47%;
  }
  .Page .Hero .lifestyleHero, .Page .Hero .recipesHero {
    -o-object-position: 0px -330px;
       object-position: 0px -330px;
  }
  .Page .Hero .fashionHero {
    -o-object-position: 0px -420px;
       object-position: 0px -420px;
  }
  .Page .Hero h2 {
    font-size: 2.3rem;
    letter-spacing: 0.25rem;
  }
  .wave {
    height: 120px;
  }
  footer .links {
    width: 45%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .links ul {
    width: 100%;
    margin-top: 0;
  }
  footer .links ul li {
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }
  footer .links .socials {
    margin-left: 3rem;
    width: 50%;
  }
}
/*# sourceMappingURL=Categories.css.map */