*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
h3,h4,h5{
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
p{
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
li{
    font-family: 'Jost', sans-serif;
}
nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:6vh;
    object-fit: cover;
    padding: 1rem 2rem 0 1rem;
    .burger{
        i{
            font-size: 1.4rem;
            color: rgb(37, 37, 37);
        }
    }
    .navlinks{
        display: none;
        text-transform: uppercase;
        font-weight: 500;
        opacity: 0.8;
        letter-spacing: 0.10rem;
        a{
            color:rgb(12, 12, 12);
            text-decoration: none;
        }
    }
    img{
        width: 35vw;
    }
}

.homepage{
    .hero{
        .small, .test{
            width: 100vw;
            height: 45vh;
            object-fit: cover;
            object-position: 0px;
        }
        .medium{
            display: none;
        }
        .large{
            display: none;
        }
    }
    .about{
        .aboutbox{
            width: 75%;
            height: 28vh;
            position: absolute;
            background-color:#67362D;
            margin: 10% 13%;
            z-index: -2;
        }
        .imageabout{
            width: 75vw;
            height: 27.7vh;
            margin: 8% 10.8%;
            cursor: pointer;
            background-repeat: no-repeat;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
        .aboutcontent{
            text-align: center;
            margin: 2% 10% 8%;
            position: relative;
            img{
                position: absolute;
                left:10px;
                top: -3vh;
                width: 42vw;
            }
            h3{
                margin-bottom: 0.8rem;
                margin-top: 3.7rem;
            }
            .socials{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0.8rem 5rem;
            }
        }
    }
    .blogRecent{
        text-align: center;
        .blog{
            width: 30%;
            cursor: pointer;
            margin-bottom: 1rem;

        }
        .posts{
            .post{
                cursor: pointer;
                position: relative;
                img{
                    width: 80%;
                    height: 30vh;
                    object-fit: cover;
                    margin-left: 0.8rem;
                    margin-top: 0.8rem;
                }
                .postbox{
                    width: 80%;
                    height: 30vh;
                    left: 1.8rem;
                    background-color: #947765;
                    position: absolute;
                    z-index: -2;
                }
                .postDescription{
                    margin: 0.7rem 0 1.5rem;
                }
            }
        }
        .blogfull{
            display: none;
            cursor: pointer;
        }
    }
    .subscribeSection{
        overflow: hidden;
        background-color: #5A757C;
        height: 35vh;
        position: relative;
        .subscribePhotoSection{
            display: none;
        }
        .subscribeSquiggle{
            position: absolute;
            top:0%;
            width: 40vw;
            height: 100%;
            left:75%;
        }
        .subscribeContent{
            margin-top: 6rem;
            color: white;
            font-weight: lighter;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                font-size: 0.8rem;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                input[type='text']{
                    margin: 0.5rem 0 1rem;
                    background-color: transparent;
                    border: white 3px solid;
                    padding:0.4rem;
                    width: 60%;
                    font-size: 1rem;
                    color: white;
                    outline: none;
                }
                button{
                    background-color: white;
                    padding: 0.5rem 0.9rem;
                    border: none;
                    color:#5a757c;
                }
            }
        }
        img{
            position: absolute;
            top:5%;
            left:7%;
            width: 43%;
        }
    }

    .sectionsSection{
        display: none;
        text-align: center;
        .section{
            .lifestyle, .recipies{
                width: 30%;
                cursor: pointer;
                margin-bottom: 1rem;
            }
            .subSections{
                cursor: pointer;
                position: relative;
                .subSection{
                    cursor: pointer;
                    position: relative;
                    img{
                        width: 80%;
                        height: 30vh;
                        object-fit: cover;
                        margin-left: 0.8rem;
                        margin-top: 0.8rem;
                    }
                    .postbox{
                        width: 80%;
                        height: 30vh;
                        left: 1.8rem;
                        background-color: #947765;
                        position: absolute;
                        z-index: -2;
                    }
                    h4{
                        margin: 0.7rem 0 1.5rem;
                    }
                }
            }
            .lifestylefull{
                display: none;
                cursor: pointer;
            }
        }
        .recipiesSection{
            display: none;
        }
    }
    .favBrands{
        text-align: center;
        margin: 8% 10% 0%;
        .favBrands{
                width: 50%;
                cursor: pointer;
                margin-bottom: 1rem;
        }
        .logos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 18%;
            }
        }
    }

    .wave{
        width: 110%;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
        height: 15vh;
        .vj{
            width: 50px;
        }

        .links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 0.7rem;
                li{
                    font-size: 0.85rem;
                    margin-right:1rem;
                    opacity: 0.7;
                }
            }
        }
    }
}















// ================================================================
// 400
// ================================================================


@media (min-width: 400px){
    .homepage{
        .hero{
            .small{
                display: none;
            }
            .medium, .test{
                width: 100%;
                height: 55vh;
                object-fit: cover;
                display: block;
            }
            .large{
                display: none;
            }
        }
        
        .about{
            .aboutcontent{
                h3{
                    margin-top: 5rem;
                }
                .socials{
                    margin: 0.8rem 9rem;
                }
            }
        }

        .blogRecent{
            .blog{
                width: 22%;
            }
            .posts{
                .post{
                    img{
                        width: 77%;
                        margin-left: 0rem;
                    }
                    .postbox{
                        width: 77%;
                        height: 30vh;
                        left: 2.5rem;
                        background-color: #947765;
                        position: absolute;
                        z-index: -2;
                    }
                }
            }
        }
        .sectionsSection{
            .section{
                .lifestyle, .recipies{
                    width: 28%;
                }
                .subSections{
                    .subSection{
                        img{
                            width: 77%;
                            margin-bottom: 0rem;
                        }
                        .postbox{
                            width: 77%;
                            height: 30vh;
                            left: 3rem;
                            background-color: #947765;
                            position: absolute;
                            z-index: -2;
                        }
                    }
                }
            }
        }
        .favBrands{
            .favBrandsTitle{
                width: 33vw;
            }
        }
    }
}


// ================================================================
// 600
// ================================================================



@media (min-width: 600px){
    nav{
        height:8vh;
        img{
            width: 30vw;
        }
    }
    .homepage{
        .hero{
            .medium, .test{
                height: 65vh;
            }
        }
        .about{
            .aboutbox{
                width: 75%;
                height: 35vh;
                position: absolute;
                background-color:#67362D;
                margin: 10% 13%;
                z-index: -2;
    
            }
            .aboutcontent{
                h3{
                    margin-bottom: 0.8rem;
                    margin-top: 6.5rem;
                }
            }
            .imageabout{
                height: 35vh;
            }
        }
        .blogRecent{
            margin: 0 8%;
            .posts{
                .post{
                    .postbox{
                        left: 7vw;
                    }
                    img{
                        margin-top: 1rem;
                    }
                }
            }
        }
        .subscribeSection{
            .subscribeContent{
                p{
                    font-size: 1rem;
                }
                
                input[type='text']{
                    width: 55%;
                }
            }
            img{
                top:-3%;
                left:7%;
                width: 39%;
            }
        }
        .sectionsSection{
            .section{
                .subSections{
                    .subSection{
                        img{
                            margin-top: 1rem;
                        }
                        .postbox{
                            left: 9vw;
                        }
                    }
                }
            }
        }
    }
}


// ================================================================
// 700
// ================================================================


@media (min-width: 700px){
    .homepage{
        .hero{
            .medium, .test{
                height: 80vh;
            }
        }
        .about{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5% 8% 10%;
            .aboutbox{
                width: 39vw;
                height: 50vh;
                margin: 4% 2% 0%;
                z-index: -2;
    
            }
            .imageabout{
                width: 39vw;
                height: 50vh;
                margin: 0%;
    
            }
            .aboutcontent{
                width: 40%;
                margin: 2%;
                img{
                    position: absolute;
                    left:-1px;
                    top: -1vh;
                    width: 30vw;
                }
                h3{
                    margin-top: 7rem;
                }
                .socials{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0.8rem 3rem;
                }
            }
        }
        .blogRecent{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5rem 2rem;
            .blog{
                display: none;
            }
            .posts{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 83%;
                .post{
                    width:26vw;
                    .postbox{
                        width: 20vw;
                    }
                    img{
                        width: 20vw;
                    }
                }
            }
            .blogfull{
                display: block;
                width: 15%;
                margin-bottom: 10vh;
            }
        }

        
        .subscribeSection{
            .subscribeSquiggle{
                width: 20vw;
                height: 100%;
                left:85%;
            }
            .subscribeContent{
                input[type='text']{
                    width: 50%;
                }
            }
            img{
                top:-3.5%;
                left:6%;
                width: 33%;
            }
        }

        .sectionsSection{

            display: block;
            .section{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 4rem 2rem 1rem;

                .lifestyle, .recipies{
                    display: none;
                }

                .subSections{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 83%;

                    .subSection{
                        width:26vw;
                        img{
                            width: 20vw;
                        }
                        .postbox{
                            width: 20vw;
                            
                        }
                    }
                }
                .lifestylefull, .recipiesfull{
                    display: block;
                    width: 10%;
                    margin-bottom: 10vh;
                }
            }
            .recipiesSection{
                display: none;
            }
        }

        .favBrands{
            .favBrandsTitle{
                width: 25vw;
            }
        }
        .wave{
            height: 12vh;
        }
        footer{
            .vj{
                width: 50px;
            }
    
            .links{
                width: 70%;
                flex-direction: row;
                ul{
                    width: 100%;
                    margin-top: 0;
                    li{
                        font-size: 0.9rem;
                        margin-right:0.5rem;
                    }
                }
                .socials{
                    margin-left: 2rem;
                    width: 50%;
                }
            }
        }
    }
}






// ================================================================
// 900
// ================================================================


@media (min-width: 900px){
    nav{
        height:8vh;
        padding: 1rem 4rem 0 1rem;
        img{
            width: 20vw;
        }
    }
    .homepage{
        .about{
            .aboutcontent{
                h3{
                    margin-top: 9rem;
                }
                .socials{
                    margin: 0.8rem 6rem;
                }
            }
        }
        .blogRecent{
            margin: 3rem 4rem;
            .posts{
                .post{
                    .postbox{
                        height: 35vh;
                    }
                    img{
                        height: 35vh;
                    }
                }
            }
            .blogfull{
                width: 12vw;
            }
        }
        .sectionsSection{
            .section{
                .subSections{
                    .subSection{
                        img{
                            height: 35vh;
                        }
                        .postbox{
                            height: 35vh;

                        }
                    }
                }
                .lifestylefull, .recipiesfull{
                    width: 8vw;
                }
            }
        }

        .favBrands{
            margin-top: 2rem;
            .favBrandsTitle{
                width: 20vw;
            }
            .logos{
                margin: 2vh 10vw;
                img{
                    width: 10vw;
                }
            }
        }
        .wave{
            height: 15vh;
        }
        footer{
            .links{
                width: 50%;
                
            }
        }
    }
}





// ================================================================
// 1020
// ================================================================


@media (min-width: 1020px){
    nav{
        height:10vh;
        .navlinks{
            display: flex;
            width: 53%;
            justify-content: space-between;
        }
        .burger{
            display: none;
        }
        img{
            width: 20vw;
        }
    }
    .homepage{
        .hero{
            .small{
                display: none;
            }
            .medium{
                display: none;
            }
            .large, .test{
                width: 100%;
                height: 100vh;
                object-fit: cover;
                display: block;
            }
        }
        .blogRecent{
            .posts{
                .post{
                    .postbox{
                        height: 40vh;
                        left: 4vw;
                    }
                    img{
                        height: 40vh;
                    }
                }
            }
            .blogfull{
                margin-right: 2rem;
            }
        }
        .subscribeSection{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .subscribeSquiggle{
                width: 30vw;
                height: 110%;
                left:81%;
            }
            .subscribePhotoSection{
                display: block;
                img{
                    margin-top: 2.9rem;
                    margin-left: 5rem;
                    width: 20%;
                    height: 75%;
                    object-fit: cover;
                    z-index: 2;
                }
                .subscribeBox{
                    background-color: white;
                    width: 20%;
                    height: 75%;
                    position: absolute;
                    left:12%;
                    top:11%;
                }
            }
            .subscribeContent{
                margin-top: 4rem;
                width: 65%;
                p{
                    font-size: 1.2rem;
                }
                
                input[type='text']{
                    width: 44%;
                }
                button{
                    padding: 0.5rem 1.3rem;
                }
                img{
                    top:-1%;
                    left:39%;
                    width: 24%;
                }
            }
        }
        .sectionsSection{
            .section{
                .subSections{
                    .subSection{
                        img{
                            height: 40vh;
                        }
                        .postbox{
                            height: 40vh;
                            left: 5vw;
                        }
                    }
                }
                .lifestylefull, .recipiesfull{
                    margin-right: 2rem;
                }
            }
        }
    }
}






// ================================================================
// 1200
// ================================================================

@media (min-width: 1200px){
    nav{
        padding: 1rem 8rem 0 1rem;
        .navlinks{
            width: 47%;
        }
    }
    .homepage{
        .about{
            .aboutcontent{
                img{
                    left:-7px;
                    top: -4vh;
                    width: 25vw;
                }
                .socials{
                    margin: 0.8rem 9rem;
                }
            }
        }
        .blogRecent{
            .posts{
                .post{
                    .postbox{
                        height: 53vh;
                        left: 4vw;
                    }
                    img{
                        margin-top: 1rem;
                        height: 53vh;
                    }
                }
            }
            .blogfull{
                width: 9.5vw;
                margin-right: 2rem;
            }
        }
        .subscribeSection{
            .subscribePhotoSection{
                img{
                    margin-top: 2.9rem;
                    margin-left: 5rem;
                }
                .subscribeBox{
                    left:10.5%;
                    top:10%;
                }
            }
            .subscribeContent{
                img{
                    width: 19%;
                    left:37%;
                }
            }
        }
        .sectionsSection{
            .section{
                margin-top: 7rem;
                .subSections{
                    .subSection{
                        img{
                            margin-top: 1rem;
                            height: 53vh;
                        }
                        .postbox{
                            height: 53vh;
                            left: 5vw;
                        }
                    }
                }
                .lifestylefull, .recipiesfull{
                    margin-right: 2rem;
                }
            }
        }
        .favBrands{
            .favBrandsTitle{
                width: 20vw;
            }
            .logos{
                margin: 2vh 15vw;
                img{
                    width: 8vw;
                }
            }
        }
        footer{
    
            .links{
                width: 45%;
                flex-direction: row;
                ul{
                    width: 100%;
                    margin-top: 0;
                    li{
                        font-size: 0.9rem;
                        margin-right:0.5rem;
                    }
                }
                .socials{
                    margin-left: 3rem;
                    width: 50%;
                }
            }
        }
    }
}




// ================================================================
// 1360
// ================================================================


@media (min-width: 1360px){

    .homepage{
        .about{
            .aboutcontent{
                img{
                    left:-1px;
                    top: -5vh;
                }
                h3{
                    font-size: 1.5rem;
                }
            }
        }
    }
}